src/views/layout/footer.pug
footer
    .contenido.contenido-fluido
        block contenidoFooter

    .contenido
        ul.menu-secundario
            li: a(href="#!"): span Bienvenido
            li: a(href="juego"): span La Mudanza
            li: a(href="#!"): span Descansa
            li: a(href="chat"): span Chatea
            li: a(href="elevador"): span El Tour
            li: a(href="#!"): span La Película

    .contenido.contenido-fluido
        ul
            li
                a(href="https://www.folks.com.mx" target="_blank")
                    img.folksstudio(src="imagenes/footer/folksstudio.svg" alt="folks studio")

            li
                img(src="imagenes/footer/cdmx.png" alt="cdmx")

public/layout/footer.html

<footer>
  <div class="contenido contenido-fluido">
  </div>
  <div class="contenido">
    <ul class="menu-secundario">
      <li><a href="#!"><span>Bienvenido</span></a></li>
      <li><a href="juego"><span>La Mudanza</span></a></li>
      <li><a href="#!"><span>Descansa</span></a></li>
      <li><a href="chat"><span>Chatea</span></a></li>
      <li><a href="elevador"><span>El Tour</span></a></li>
      <li><a href="#!"><span>La Película</span></a></li>
    </ul>
  </div>
  <div class="contenido contenido-fluido">
    <ul>
      <li><a href="https://www.folks.com.mx" target="_blank"><img class="folksstudio" src="imagenes/footer/folksstudio.svg" alt="folks studio"/></a></li>
      <li><img src="imagenes/footer/cdmx.png" alt="cdmx"/></li>
    </ul>
  </div>
</footer>
