src/views/pruebas/index.pug
extends ../layout/template

append config
    - pageTitle = 'Inicio'
    - pagina = 'home'

block content
    main.home
        section.juego
            .container
                .row
                    .col.s6
                        h1 Pruebas

                        p.aviso#aviso

                    .col.s6
                        p tienes un minuto
                        p
                            span#hour 00
                            | :
                            span#minute 00
                            | :
                            span#second 00

                .row
                    .col.s12
                        .juego#juego
                            .piso
                                .droppable.ui-widget-header
                                    p Cuarto

                                .droppable.ui-widget-header
                                    p Cuarto

                                .droppable.ui-widget-header
                                    p Cuarto

                                .droppable.ui-widget-header
                                    p Cuarto

                            .muebles
                                each val in ['uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis', 'siete', 'ocho', 'nueve']
                                    .mueble
                                        .draggable.ui-widget-content.tooltipped(data-position="bottom" data-tooltip="Mueble")
                                            div(class="rototeable "+val)
                                                p Mueble

                                                .rotate

                                            .drag
        #introJuego.modal
            .modal-content
                h4 Juego
                p Instrucciones del juego
            .modal-footer
                a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Comenzar

public/pruebas/index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/estilos.css">
    <title>Ermitaños | Inicio</title>
    <meta name="description" content="...">
  </head>
  <body>
    <header>
      <div class="interior menu" id="menu">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 15.74">
          <rect width="17" height="3.15"></rect>
          <rect y="6.3" width="17" height="3.15"></rect>
          <rect y="12.59" width="17" height="3.15"></rect>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.25 14.25">
          <polygon fill="#fefefe" points="14.25 2.23 12.02 0 7.12 4.9 2.23 0 0 2.23 4.9 7.12 0 12.02 2.23 14.25 7.12 9.35 12.02 14.25 14.25 12.02 9.35 7.12 14.25 2.23"></polygon>
        </svg>
      </div>
      <div class="separador">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.6 11.1">
          <rect class="separador principal" x="0.3" y="4.8" width="50" height="2"></rect>
          <rect class="separador" x="4.6" y="0" width="2" height="11"></rect>
          <rect class="separador" x="44.3" y="0" width="2" height="11"></rect>
          <path class="separador rectangulo" d="M50.3,11.1H.3a.29.29,0,0,1-.3-.3V.3A.29.29,0,0,1,.3,0h50a.29.29,0,0,1,.3.3V10.8A.29.29,0,0,1,50.3,11.1ZM.6,10.5H50V.6H.6Z"></path>
          <path class="separador rectangulo" d="M48.3,9.1H2.3A.29.29,0,0,1,2,8.8V2.3A.29.29,0,0,1,2.3,2h46a.29.29,0,0,1,.3.3V8.8A.29.29,0,0,1,48.3,9.1ZM2.6,8.5H48V2.6H2.6Z"></path>
        </svg>
      </div>
      <div class="interior logotipo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.24 97.95">
          <g>
            <path d="M6.72,2,4.87,5.19a2,2,0,0,1-2.24.93L2.35,6a1.89,1.89,0,0,1-1-.92,2,2,0,0,1-.21-.89V3.9a2,2,0,0,1,1-1.71l-.5-.84A3,3,0,0,0,.19,3.9v.31A3,3,0,0,0,1.47,6.64a3,3,0,0,0,2.08,2A3,3,0,0,0,6.88,7.31l1.85-3.2a3,3,0,0,1,3.39-1.42,3,3,0,0,1,1,.44,3,3,0,0,1,.12.85V4A3,3,0,0,1,12,6.45l.6.78A4,4,0,0,0,14.15,4.5a3.44,3.44,0,0,0,0-.46V4a3.9,3.9,0,0,0-.29-1.48A4,4,0,0,0,6.72,2Z"></path>
            <path d="M13.19,89.47v6H9.39V90.39h-1V95.5H1.17v-6h-1V98h14V89.47Z"></path>
            <path d="M4.44,77.67A4.62,4.62,0,0,0,.16,82.25V85h0v.73h0v1.66h14v-1H9.39v-.7h4.77V85H9.39v-.56l4.77-3.64v-.92L9.39,83.52v-.75l4.77-3.64V77.9L9.33,81.58A4.59,4.59,0,0,0,4.44,77.67Zm4,6.59V85H1.15V82.25a3.64,3.64,0,0,1,7.28,0Z"></path>
            <path d="M14.16,73.92v-.73H7.51l4-2.86.63-.45-.63-.44-4.14-3h6.79v-.73l0-.66v-1H0l8,5.75-8,5.7H14.16V73.92ZM5,66.48H6.11l4.78,3.4L6.26,73.19H5.07l4.65-3.31Z"></path>
            <rect x="0.16" y="61.09" width="14" height="0.97"></rect>
            <path d="M0,42.76l14.14,5.73v-1l-3-1.24v-.77l3,1.23v-.78l-1.64-.67V38.79l1.64-.65v-1Zm10.15,3.06L2.63,42.76l1-.38,6.58,2.67Zm1.63-6.73v5.83l-.66-.26V39.35Z"></path>
            <polygon points="14.24 25.33 0.18 25.33 0.18 26.3 11.37 26.3 0 35.03 14.16 35.03 14.16 34.07 4.93 34.07 14.24 26.91 14.24 25.99 3.74 34.07 2.88 34.07 14.24 25.33"></polygon>
            <path d="M7.17,9.3a7,7,0,1,0,7,7A7,7,0,0,0,7.17,9.3Zm6,7.36h-12c0-.12,0-.25,0-.37s0-.24,0-.36h12c0,.12,0,.24,0,.36S13.19,16.54,13.18,16.66Z"></path>
            <rect x="0.16" y="59.33" width="14" height="0.73"></rect>
            <polygon points="2.54 51.7 14.15 51.7 14.15 50.97 2.54 50.97 2.54 48.49 0.18 48.49 0.18 57.26 2.54 57.26 2.54 54.77 14.15 54.77 14.15 54.04 2.54 54.04 2.54 53.36 14.16 53.36 14.16 52.39 2.54 52.39 2.54 51.7"></polygon>
            <polygon points="0.86 32.34 0.86 27.74 0.13 27.74 0.13 32.93 0.86 32.34"></polygon>
          </g>
        </svg>
      </div>
      <div class="separador">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.6 11.1">
          <rect class="separador principal" x="0.3" y="4.8" width="50" height="2"></rect>
          <rect class="separador" x="4.6" y="0" width="2" height="11"></rect>
          <rect class="separador" x="44.3" y="0" width="2" height="11"></rect>
          <path class="separador rectangulo" d="M50.3,11.1H.3a.29.29,0,0,1-.3-.3V.3A.29.29,0,0,1,.3,0h50a.29.29,0,0,1,.3.3V10.8A.29.29,0,0,1,50.3,11.1ZM.6,10.5H50V.6H.6Z"></path>
          <path class="separador rectangulo" d="M48.3,9.1H2.3A.29.29,0,0,1,2,8.8V2.3A.29.29,0,0,1,2.3,2h46a.29.29,0,0,1,.3.3V8.8A.29.29,0,0,1,48.3,9.1ZM2.6,8.5H48V2.6H2.6Z"></path>
        </svg>
      </div>
      <div class="submenu">
        <div class="interior redes-sociales">
          <ul>
            <li><a href="#!">
                <div class="icono informacion"></div></a></li>
            <li><a href="https://www.instagram.com/ermitanosdocumental" target="_blank">
                <div class="icono instagram"></div></a></li>
            <li><a href="https://vimeo.com/322709467" target="_blank">
                <div class="icono vimeo"></div></a></li>
          </ul>
          <ul>
            <li><a id="silencio" href="#!">
                <div class="icono audio"></div></a></li>
          </ul>
        </div>
        <div class="separador">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.6 11.1">
            <rect class="separador principal" x="0.3" y="4.8" width="50" height="2"></rect>
            <rect class="separador" x="4.6" y="0" width="2" height="11"></rect>
            <rect class="separador" x="44.3" y="0" width="2" height="11"></rect>
            <path class="separador rectangulo" d="M50.3,11.1H.3a.29.29,0,0,1-.3-.3V.3A.29.29,0,0,1,.3,0h50a.29.29,0,0,1,.3.3V10.8A.29.29,0,0,1,50.3,11.1ZM.6,10.5H50V.6H.6Z"></path>
            <path class="separador rectangulo" d="M48.3,9.1H2.3A.29.29,0,0,1,2,8.8V2.3A.29.29,0,0,1,2.3,2h46a.29.29,0,0,1,.3.3V8.8A.29.29,0,0,1,48.3,9.1ZM2.6,8.5H48V2.6H2.6Z"></path>
          </svg>
        </div>
        <div class="interior submenu-footer"><a id="menu-footer" href="#!">
            <div class="icono menu-footer"></div></a></div>
      </div>
      <nav>
        <ul class="principal">
          <li><a href="#!"><img src="imagenes/header/logotipo-blanco.svg" alt="Ermitaños"></a></li>
          <li><a href="intro-elevador">Eres el noveno Ermitaño</a></li>
          <li><a href="juego">Haz tu mudanza</a></li>
          <li><a href="descanso">Tómate un descanso</a></li>
        </ul>
        <ul>
          <li><a href="acerca-de-ermitanos">Acerca de Ermitaños</a></li>
          <li><a href="creditos-webdoc">Créditos WebDoc</a></li>
          <li><a href="creditos-pelicula">Créditos Película</a></li>
          <li><a href="#!">Contacto</a></li>
          <li><a href="#!">Política de Privacidad</a></li>
        </ul>
      </nav>
    </header>
    <main class="home">
      <section class="juego">
        <div class="container">
          <div class="row">
            <div class="col s6">
              <h1>Pruebas</h1>
              <p class="aviso" id="aviso"></p>
            </div>
            <div class="col s6">
              <p>tienes un minuto</p>
              <p><span id="hour">00</span>:<span id="minute">00</span>:<span id="second">00</span></p>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <div class="juego" id="juego">
                <div class="piso">
                  <div class="droppable ui-widget-header">
                    <p>Cuarto</p>
                  </div>
                  <div class="droppable ui-widget-header">
                    <p>Cuarto</p>
                  </div>
                  <div class="droppable ui-widget-header">
                    <p>Cuarto</p>
                  </div>
                  <div class="droppable ui-widget-header">
                    <p>Cuarto</p>
                  </div>
                </div>
                <div class="muebles">
                  <div class="mueble">
                    <div class="draggable ui-widget-content tooltipped" data-position="bottom" data-tooltip="Mueble">
                      <div class="rototeable uno">
                        <p>Mueble</p>
                        <div class="rotate"></div>
                      </div>
                      <div class="drag"></div>
                    </div>
                  </div>
                  <div class="mueble">
                    <div class="draggable ui-widget-content tooltipped" data-position="bottom" data-tooltip="Mueble">
                      <div class="rototeable dos">
                        <p>Mueble</p>
                        <div class="rotate"></div>
                      </div>
                      <div class="drag"></div>
                    </div>
                  </div>
                  <div class="mueble">
                    <div class="draggable ui-widget-content tooltipped" data-position="bottom" data-tooltip="Mueble">
                      <div class="rototeable tres">
                        <p>Mueble</p>
                        <div class="rotate"></div>
                      </div>
                      <div class="drag"></div>
                    </div>
                  </div>
                  <div class="mueble">
                    <div class="draggable ui-widget-content tooltipped" data-position="bottom" data-tooltip="Mueble">
                      <div class="rototeable cuatro">
                        <p>Mueble</p>
                        <div class="rotate"></div>
                      </div>
                      <div class="drag"></div>
                    </div>
                  </div>
                  <div class="mueble">
                    <div class="draggable ui-widget-content tooltipped" data-position="bottom" data-tooltip="Mueble">
                      <div class="rototeable cinco">
                        <p>Mueble</p>
                        <div class="rotate"></div>
                      </div>
                      <div class="drag"></div>
                    </div>
                  </div>
                  <div class="mueble">
                    <div class="draggable ui-widget-content tooltipped" data-position="bottom" data-tooltip="Mueble">
                      <div class="rototeable seis">
                        <p>Mueble</p>
                        <div class="rotate"></div>
                      </div>
                      <div class="drag"></div>
                    </div>
                  </div>
                  <div class="mueble">
                    <div class="draggable ui-widget-content tooltipped" data-position="bottom" data-tooltip="Mueble">
                      <div class="rototeable siete">
                        <p>Mueble</p>
                        <div class="rotate"></div>
                      </div>
                      <div class="drag"></div>
                    </div>
                  </div>
                  <div class="mueble">
                    <div class="draggable ui-widget-content tooltipped" data-position="bottom" data-tooltip="Mueble">
                      <div class="rototeable ocho">
                        <p>Mueble</p>
                        <div class="rotate"></div>
                      </div>
                      <div class="drag"></div>
                    </div>
                  </div>
                  <div class="mueble">
                    <div class="draggable ui-widget-content tooltipped" data-position="bottom" data-tooltip="Mueble">
                      <div class="rototeable nueve">
                        <p>Mueble</p>
                        <div class="rotate"></div>
                      </div>
                      <div class="drag"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="modal" id="introJuego">
        <div class="modal-content">
          <h4>Juego</h4>
          <p>Instrucciones del juego</p>
        </div>
        <div class="modal-footer"><a class="modal-close waves-effect waves-green btn-flat" href="#!">Comenzar</a></div>
      </div>
    </main>
    <footer>
      <div class="contenido contenido-fluido">
      </div>
      <div class="contenido">
        <ul class="menu-secundario">
          <li><a href="#!"><span>Bienvenido</span></a></li>
          <li><a href="juego"><span>La Mudanza</span></a></li>
          <li><a href="#!"><span>Descansa</span></a></li>
          <li><a href="chat"><span>Chatea</span></a></li>
          <li><a href="elevador"><span>El Tour</span></a></li>
          <li><a href="#!"><span>La Película</span></a></li>
        </ul>
      </div>
      <div class="contenido contenido-fluido">
        <ul>
          <li><a href="https://www.folks.com.mx" target="_blank"><img class="folksstudio" src="imagenes/footer/folksstudio.svg" alt="folks studio"></a></li>
          <li><img src="imagenes/footer/cdmx.png" alt="cdmx"></li>
        </ul>
      </div>
    </footer>
    <script src="js/scripts.js"></script>
  </body>
</html>
