src/views/index.pug
extends layout/template

append config
    - pageTitle = 'Inicio'
    - pagina = 'home'
    - claseEspecial = 'home'

block content
    main.home
        #animacion.animacion

        svg.logo(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 343.89 50')
            g
                path(d='M336.91,23.59,325.65,17.1a7,7,0,0,1-3.24-7.86,6.41,6.41,0,0,1,.34-1A6.83,6.83,0,0,1,326,4.85a7,7,0,0,1,3.13-.74h1.08a7,7,0,0,1,6,3.39l3-1.73A10.41,10.41,0,0,0,330.2.65h-1.08a10.39,10.39,0,0,0-8.56,4.53,10.43,10.43,0,0,0-2.34,19l11.25,6.5a10.57,10.57,0,0,1,3.44,15.22,10.33,10.33,0,0,1-3,.45h-.22a10.6,10.6,0,0,1-8.44-4.26l-2.74,2.1a14.11,14.11,0,0,0,9.57,5.53,14.35,14.35,0,0,0,1.61.09h.15a14.05,14.05,0,0,0,7.07-26.19Z')
                path(d='M29.8,46.32H8.61V33H26.55V29.58H8.61V4.11H29.8V.72H0V49.86H29.8Z')
                path(d='M71.21,15.58A16.2,16.2,0,0,0,55.12.58H45.48v0H42.92v0H37.08V49.71h3.39V33h2.45V49.7h2.56V33h2L60.24,49.71h3.23L50.68,33h2.64L66.09,49.71h4.33l-12.92-17A16.1,16.1,0,0,0,71.21,15.58Zm-23.12,14H45.48V4h9.64a12.77,12.77,0,1,1,0,25.54Z')
                path(d='M84.39,49.7H87V26.37L97,40.42l1.57,2.2,1.57-2.2L110.5,25.87V49.7h2.56l2.3-.06h3.39V0L98.55,28.21,78.57,0V49.71h5.82ZM110.5,17.46v4l-12,16.76L87,22V17.78l11.6,16.35Z')
                rect(x='126.04', y='0.58', width='3.39', height='49.13')
                path(d='M193.77.07,173.64,49.71h3.68l4.33-10.6h2.7L180,49.71h2.76L185.13,44H207.7L210,49.71h3.68ZM183,35.71,193.77,9.24l1.35,3.36-9.39,23.11Zm23.65,5.7h-20.5l.94-2.3h18.64Z')
                polygon(points='254.95 50 254.95 0.65 251.56 0.65 251.56 39.9 220.9 0 220.9 49.71 224.29 49.71 224.29 17.32 249.41 50 252.63 50 224.29 13.12 224.29 10.1 254.95 50')
                path(d='M311.23,25.18A24.53,24.53,0,1,0,286.7,49.71,24.51,24.51,0,0,0,311.23,25.18Zm-25.81,21.1V4.08c.42,0,.85,0,1.28,0s.85,0,1.28,0v42.2c-.43,0-.85,0-1.28,0S285.84,46.3,285.42,46.28Z')
                rect(x='133.03', y='0.56', width='2.56', height='49.14')
                polygon(points='162.38 8.9 162.38 49.7 164.94 49.7 164.94 8.9 173.67 8.9 173.67 0.65 142.86 0.65 142.86 8.9 151.63 8.9 151.63 49.7 154.18 49.7 154.18 8.9 156.57 8.9 156.57 49.71 159.96 49.71 159.96 8.9 162.38 8.9')
                polygon(points='230.34 3.02 246.5 3.02 246.5 0.47 228.29 0.47 230.34 3.02')

        h1.center-align Documental interactivo sobre la vida en el emblemático Edificio Ermita
            br
            | de la Ciudad de México. Explora el edificio, conoce a los  vecinos,
            br
            | vive por un instante al interior de este enigmático lugar.

        a#comenzar.btn.waves-effect.waves-light(href="intro") Comenzar

        .instrucciones
            .instruccion
                .texto
                    p Sitio diseñado para ordenador.
                .imagen
                    img(src="imagenes/home/ordenador.jpg" alt="ordenador")

            .instruccion
                .texto
                    p Se explora mejor con Chrome.
                .imagen
                    img(src="imagenes/home/chrome.jpg" alt="Chrome")

            .instruccion
                .texto
                    p Activa el sonido.
                .imagen
                    img(src="imagenes/home/audio.jpg" alt="sonido")

        p Es un sitio interactivo. Recomendamos tomar unos 15 minutos para explorarlo a fondo. La
            br
            | experiencia completa dura 40 minutos. Puede regresar cuando quieras.

block scripts
    script(src="js/lottie.min.js")

public/index.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="css/estilos.css">
    <title>Ermitaños | Inicio</title>
    <meta name="description" content="...">
  </head>
  <body class="home">
    <header>
      <div class="interior menu" id="menu">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 15.74">
          <rect width="17" height="3.15"></rect>
          <rect y="6.3" width="17" height="3.15"></rect>
          <rect y="12.59" width="17" height="3.15"></rect>
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.25 14.25">
          <polygon fill="#fefefe" points="14.25 2.23 12.02 0 7.12 4.9 2.23 0 0 2.23 4.9 7.12 0 12.02 2.23 14.25 7.12 9.35 12.02 14.25 14.25 12.02 9.35 7.12 14.25 2.23"></polygon>
        </svg>
      </div>
      <div class="separador">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.6 11.1">
          <rect class="separador principal" x="0.3" y="4.8" width="50" height="2"></rect>
          <rect class="separador" x="4.6" y="0" width="2" height="11"></rect>
          <rect class="separador" x="44.3" y="0" width="2" height="11"></rect>
          <path class="separador rectangulo" d="M50.3,11.1H.3a.29.29,0,0,1-.3-.3V.3A.29.29,0,0,1,.3,0h50a.29.29,0,0,1,.3.3V10.8A.29.29,0,0,1,50.3,11.1ZM.6,10.5H50V.6H.6Z"></path>
          <path class="separador rectangulo" d="M48.3,9.1H2.3A.29.29,0,0,1,2,8.8V2.3A.29.29,0,0,1,2.3,2h46a.29.29,0,0,1,.3.3V8.8A.29.29,0,0,1,48.3,9.1ZM2.6,8.5H48V2.6H2.6Z"></path>
        </svg>
      </div>
      <div class="interior logotipo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.24 97.95">
          <g>
            <path d="M6.72,2,4.87,5.19a2,2,0,0,1-2.24.93L2.35,6a1.89,1.89,0,0,1-1-.92,2,2,0,0,1-.21-.89V3.9a2,2,0,0,1,1-1.71l-.5-.84A3,3,0,0,0,.19,3.9v.31A3,3,0,0,0,1.47,6.64a3,3,0,0,0,2.08,2A3,3,0,0,0,6.88,7.31l1.85-3.2a3,3,0,0,1,3.39-1.42,3,3,0,0,1,1,.44,3,3,0,0,1,.12.85V4A3,3,0,0,1,12,6.45l.6.78A4,4,0,0,0,14.15,4.5a3.44,3.44,0,0,0,0-.46V4a3.9,3.9,0,0,0-.29-1.48A4,4,0,0,0,6.72,2Z"></path>
            <path d="M13.19,89.47v6H9.39V90.39h-1V95.5H1.17v-6h-1V98h14V89.47Z"></path>
            <path d="M4.44,77.67A4.62,4.62,0,0,0,.16,82.25V85h0v.73h0v1.66h14v-1H9.39v-.7h4.77V85H9.39v-.56l4.77-3.64v-.92L9.39,83.52v-.75l4.77-3.64V77.9L9.33,81.58A4.59,4.59,0,0,0,4.44,77.67Zm4,6.59V85H1.15V82.25a3.64,3.64,0,0,1,7.28,0Z"></path>
            <path d="M14.16,73.92v-.73H7.51l4-2.86.63-.45-.63-.44-4.14-3h6.79v-.73l0-.66v-1H0l8,5.75-8,5.7H14.16V73.92ZM5,66.48H6.11l4.78,3.4L6.26,73.19H5.07l4.65-3.31Z"></path>
            <rect x="0.16" y="61.09" width="14" height="0.97"></rect>
            <path d="M0,42.76l14.14,5.73v-1l-3-1.24v-.77l3,1.23v-.78l-1.64-.67V38.79l1.64-.65v-1Zm10.15,3.06L2.63,42.76l1-.38,6.58,2.67Zm1.63-6.73v5.83l-.66-.26V39.35Z"></path>
            <polygon points="14.24 25.33 0.18 25.33 0.18 26.3 11.37 26.3 0 35.03 14.16 35.03 14.16 34.07 4.93 34.07 14.24 26.91 14.24 25.99 3.74 34.07 2.88 34.07 14.24 25.33"></polygon>
            <path d="M7.17,9.3a7,7,0,1,0,7,7A7,7,0,0,0,7.17,9.3Zm6,7.36h-12c0-.12,0-.25,0-.37s0-.24,0-.36h12c0,.12,0,.24,0,.36S13.19,16.54,13.18,16.66Z"></path>
            <rect x="0.16" y="59.33" width="14" height="0.73"></rect>
            <polygon points="2.54 51.7 14.15 51.7 14.15 50.97 2.54 50.97 2.54 48.49 0.18 48.49 0.18 57.26 2.54 57.26 2.54 54.77 14.15 54.77 14.15 54.04 2.54 54.04 2.54 53.36 14.16 53.36 14.16 52.39 2.54 52.39 2.54 51.7"></polygon>
            <polygon points="0.86 32.34 0.86 27.74 0.13 27.74 0.13 32.93 0.86 32.34"></polygon>
          </g>
        </svg>
      </div>
      <div class="separador">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.6 11.1">
          <rect class="separador principal" x="0.3" y="4.8" width="50" height="2"></rect>
          <rect class="separador" x="4.6" y="0" width="2" height="11"></rect>
          <rect class="separador" x="44.3" y="0" width="2" height="11"></rect>
          <path class="separador rectangulo" d="M50.3,11.1H.3a.29.29,0,0,1-.3-.3V.3A.29.29,0,0,1,.3,0h50a.29.29,0,0,1,.3.3V10.8A.29.29,0,0,1,50.3,11.1ZM.6,10.5H50V.6H.6Z"></path>
          <path class="separador rectangulo" d="M48.3,9.1H2.3A.29.29,0,0,1,2,8.8V2.3A.29.29,0,0,1,2.3,2h46a.29.29,0,0,1,.3.3V8.8A.29.29,0,0,1,48.3,9.1ZM2.6,8.5H48V2.6H2.6Z"></path>
        </svg>
      </div>
      <div class="submenu">
        <div class="interior redes-sociales">
          <ul>
            <li><a href="#!">
                <div class="icono informacion"></div></a></li>
            <li><a href="https://www.instagram.com/ermitanosdocumental" target="_blank">
                <div class="icono instagram"></div></a></li>
            <li><a href="https://vimeo.com/322709467" target="_blank">
                <div class="icono vimeo"></div></a></li>
          </ul>
          <ul>
            <li><a id="silencio" href="#!">
                <div class="icono audio"></div></a></li>
          </ul>
        </div>
        <div class="separador">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50.6 11.1">
            <rect class="separador principal" x="0.3" y="4.8" width="50" height="2"></rect>
            <rect class="separador" x="4.6" y="0" width="2" height="11"></rect>
            <rect class="separador" x="44.3" y="0" width="2" height="11"></rect>
            <path class="separador rectangulo" d="M50.3,11.1H.3a.29.29,0,0,1-.3-.3V.3A.29.29,0,0,1,.3,0h50a.29.29,0,0,1,.3.3V10.8A.29.29,0,0,1,50.3,11.1ZM.6,10.5H50V.6H.6Z"></path>
            <path class="separador rectangulo" d="M48.3,9.1H2.3A.29.29,0,0,1,2,8.8V2.3A.29.29,0,0,1,2.3,2h46a.29.29,0,0,1,.3.3V8.8A.29.29,0,0,1,48.3,9.1ZM2.6,8.5H48V2.6H2.6Z"></path>
          </svg>
        </div>
        <div class="interior submenu-footer"><a id="menu-footer" href="#!">
            <div class="icono menu-footer"></div></a></div>
      </div>
      <nav>
        <ul class="principal">
          <li><a href="#!"><img src="imagenes/header/logotipo-blanco.svg" alt="Ermitaños"></a></li>
          <li><a href="intro-elevador">Eres el noveno Ermitaño</a></li>
          <li><a href="juego">Haz tu mudanza</a></li>
          <li><a href="descanso">Tómate un descanso</a></li>
        </ul>
        <ul>
          <li><a href="acerca-de-ermitanos">Acerca de Ermitaños</a></li>
          <li><a href="creditos-webdoc">Créditos WebDoc</a></li>
          <li><a href="creditos-pelicula">Créditos Película</a></li>
          <li><a href="#!">Contacto</a></li>
          <li><a href="#!">Política de Privacidad</a></li>
        </ul>
      </nav>
    </header>
    <main class="home">
      <div class="animacion" id="animacion"></div>
      <svg class="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 343.89 50">
        <g>
          <path d="M336.91,23.59,325.65,17.1a7,7,0,0,1-3.24-7.86,6.41,6.41,0,0,1,.34-1A6.83,6.83,0,0,1,326,4.85a7,7,0,0,1,3.13-.74h1.08a7,7,0,0,1,6,3.39l3-1.73A10.41,10.41,0,0,0,330.2.65h-1.08a10.39,10.39,0,0,0-8.56,4.53,10.43,10.43,0,0,0-2.34,19l11.25,6.5a10.57,10.57,0,0,1,3.44,15.22,10.33,10.33,0,0,1-3,.45h-.22a10.6,10.6,0,0,1-8.44-4.26l-2.74,2.1a14.11,14.11,0,0,0,9.57,5.53,14.35,14.35,0,0,0,1.61.09h.15a14.05,14.05,0,0,0,7.07-26.19Z"></path>
          <path d="M29.8,46.32H8.61V33H26.55V29.58H8.61V4.11H29.8V.72H0V49.86H29.8Z"></path>
          <path d="M71.21,15.58A16.2,16.2,0,0,0,55.12.58H45.48v0H42.92v0H37.08V49.71h3.39V33h2.45V49.7h2.56V33h2L60.24,49.71h3.23L50.68,33h2.64L66.09,49.71h4.33l-12.92-17A16.1,16.1,0,0,0,71.21,15.58Zm-23.12,14H45.48V4h9.64a12.77,12.77,0,1,1,0,25.54Z"></path>
          <path d="M84.39,49.7H87V26.37L97,40.42l1.57,2.2,1.57-2.2L110.5,25.87V49.7h2.56l2.3-.06h3.39V0L98.55,28.21,78.57,0V49.71h5.82ZM110.5,17.46v4l-12,16.76L87,22V17.78l11.6,16.35Z"></path>
          <rect x="126.04" y="0.58" width="3.39" height="49.13"></rect>
          <path d="M193.77.07,173.64,49.71h3.68l4.33-10.6h2.7L180,49.71h2.76L185.13,44H207.7L210,49.71h3.68ZM183,35.71,193.77,9.24l1.35,3.36-9.39,23.11Zm23.65,5.7h-20.5l.94-2.3h18.64Z"></path>
          <polygon points="254.95 50 254.95 0.65 251.56 0.65 251.56 39.9 220.9 0 220.9 49.71 224.29 49.71 224.29 17.32 249.41 50 252.63 50 224.29 13.12 224.29 10.1 254.95 50"></polygon>
          <path d="M311.23,25.18A24.53,24.53,0,1,0,286.7,49.71,24.51,24.51,0,0,0,311.23,25.18Zm-25.81,21.1V4.08c.42,0,.85,0,1.28,0s.85,0,1.28,0v42.2c-.43,0-.85,0-1.28,0S285.84,46.3,285.42,46.28Z"></path>
          <rect x="133.03" y="0.56" width="2.56" height="49.14"></rect>
          <polygon points="162.38 8.9 162.38 49.7 164.94 49.7 164.94 8.9 173.67 8.9 173.67 0.65 142.86 0.65 142.86 8.9 151.63 8.9 151.63 49.7 154.18 49.7 154.18 8.9 156.57 8.9 156.57 49.71 159.96 49.71 159.96 8.9 162.38 8.9"></polygon>
          <polygon points="230.34 3.02 246.5 3.02 246.5 0.47 228.29 0.47 230.34 3.02"></polygon>
        </g>
      </svg>
      <h1 class="center-align">Documental interactivo sobre la vida en el emblemático Edificio Ermita<br>de la Ciudad de México. Explora el edificio, conoce a los  vecinos,<br>vive por un instante al interior de este enigmático lugar.</h1><a class="btn waves-effect waves-light" id="comenzar" href="intro">Comenzar</a>
      <div class="instrucciones">
        <div class="instruccion">
          <div class="texto">
            <p>Sitio diseñado para ordenador.</p>
          </div>
          <div class="imagen"><img src="imagenes/home/ordenador.jpg" alt="ordenador"></div>
        </div>
        <div class="instruccion">
          <div class="texto">
            <p>Se explora mejor con Chrome.</p>
          </div>
          <div class="imagen"><img src="imagenes/home/chrome.jpg" alt="Chrome"></div>
        </div>
        <div class="instruccion">
          <div class="texto">
            <p>Activa el sonido.</p>
          </div>
          <div class="imagen"><img src="imagenes/home/audio.jpg" alt="sonido"></div>
        </div>
      </div>
      <p>Es un sitio interactivo. Recomendamos tomar unos 15 minutos para explorarlo a fondo. La<br>experiencia completa dura 40 minutos. Puede regresar cuando quieras.</p>
    </main>
    <footer>
      <div class="contenido contenido-fluido">
      </div>
      <div class="contenido">
        <ul class="menu-secundario">
          <li><a href="#!"><span>Bienvenido</span></a></li>
          <li><a href="juego"><span>La Mudanza</span></a></li>
          <li><a href="#!"><span>Descansa</span></a></li>
          <li><a href="chat"><span>Chatea</span></a></li>
          <li><a href="elevador"><span>El Tour</span></a></li>
          <li><a href="#!"><span>La Película</span></a></li>
        </ul>
      </div>
      <div class="contenido contenido-fluido">
        <ul>
          <li><a href="https://www.folks.com.mx" target="_blank"><img class="folksstudio" src="imagenes/footer/folksstudio.svg" alt="folks studio"></a></li>
          <li><img src="imagenes/footer/cdmx.png" alt="cdmx"></li>
        </ul>
      </div>
    </footer>
    <script src="js/lottie.min.js"></script>
    <script src="js/scripts.js"></script>
  </body>
</html>
